<h1>Music Concert Network</h1>

<h2>Concerts</h2>

<ul>
	<% @concerts_today.each do |c|%>
		<li>
			<%= link_to "#{c.artist}", concert_path(c) %>
		</li>
	<% end %>
</ul>

<%= link_to "Add concert", new_concert_path %>


<nav>
	<ul>
		<% @concerts_month.each do |c|%>
			<li>
				<%= link_to "#{c.artist}", concert_path(c) %>
			</li>
		<% end %>
	</ul>
</nav>